* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 100px 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  button {
    width: 50%;
    margin: 0 auto;
  }
}

.form-field {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.inputUserData {
  height: 30px;
  margin: 10px 0;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

h3 {
  margin: 10px auto;
}

table,
th,
td {
  border: 1px solid #fff;
  text-align: center;
  padding: 5px 10px;
}

table {
  padding: 0;
  margin: 0;
  width: 100%;
}

.try-summary-container {
  border: 2px solid #fff;
  border-radius: 8px;
  overflow: hidden scroll;
  height: 50vh;
  max-height: 300px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.final-data {
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  height: auto;
  margin-top: 50px;
}

.tryBtn {
  margin: 0 20px;
}

.try-container {
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

.boxed {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

  input {
    height: 30px;
  }
}